#productenGrid {
    display: grid;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.product-image {
    flex: 0 0 auto;
    margin-right: 20px;
    text-align: center;
}

.product-image img {
    display: block;
    max-width: 150px;
    height: auto;
}

.product-info {
    flex: 1 1 auto;
    margin-right: 500px;
}

.product {
    display: flex;
    align-items: center; 
    background-color: white;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.delete-button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    
}
.delete-button:hover {
    background-color: red;
}


.bottom-right {
    display: flex;
    flex-direction: column; /* Change flex direction to column */
    justify-content: flex-end;
    align-items: flex-end; /* Align items to the end */
    padding-bottom: 10px;
}
.bottom-right button {
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 11.4vw;
    margin: 0px auto;
    margin-left: 10px;
    border-radius: 16px;
    background-color: white;
    z-index: 1;
}