body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
}

.section1,
.section2 {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.section2 {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.section2 .content {
    grid-row: 1/4;
}



.back-btn {
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #ddd;
}

.productTitle {

font-size: 24px;
    text-align: left;
    margin-left: 0;
}

.productInfo {
    font-size: 24px;
    text-align: left;
    margin-left: 0;

}

.container img {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 10px;
}

.product-info {
    font-size: 16px;
    color: #141414;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

