.nav-styling
{
    background-color: #dd1a1a;
    color: white;
}
.app-styling
{
    background-color: #ffffff;
}
.hover-styling-class:hover
{
    background-color: #dd1a1a;
    color: white;
}

#logo-img
{
    margin-left: -60px;
}
