* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 35px;
    font-weight: 500;

}

.maincontainer {
    background-image: url("/ASSETS/Logo/ehbBackground.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maincontainer img
{
    width: 500px;
}


    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
    }

    .container a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vw;
        height: 200px;
        margin: 20px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
        border-radius: 10px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        transform-style: preserve-3d;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        border: 2px solid #fff;
    }

    .container a:hover {
        border-color: #e30615c6;
        transform: scale(1.1);
    }

    .container a:active {
        background-color: #888;
    }

    span
    {
        font-size: 20px;
        font-weight: bold;

    }
