.page {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#page-1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
}
#left-part
{
    width: 10vw;
    margin-left: 10px;
    height: 10px;
}

table {
    width: 80vw;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid white;
}
tr:hover {
    background-color: white;
}

#navigateButton {
    padding: 10px 20px;
    background-color: #dd1a1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10vw;
    margin-right: 10px;
    font-weight: 600;
}
#navigateButton:hover {
    background-color: #c82333;
}
.ban-btn {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.ban-btn:hover {
    background-color: red;
}

#search {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 14vw;
    border-radius: 16px;
    background-color: white;
    border: none;
    z-index: 1;
    margin: 20px 0px;
    width: 30vw;
}

img#imgsearch {
    left: -30px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

#search-container {
    display: flex;
    justify-content: center;
}
