.page {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

#search-container button {
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#search-container button:hover {
    background-color: red;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
}

table thead {
    background-color: red;
    color: white;
}

table th, table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #e9ecef;
}

.ban-btn {
    padding: 5px 10px;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.ban-btn:hover {
    background-color: #c82333;
}
